<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <link th:replace="layout/fragment::getBootstrap">

</head>
<body>
<div th:replace="layout/fragment::create_search_fragment('/contract/create','/contract/list',${valueSearch})"></div>
<p id="msg" th:text="${msg}" hidden="hidden"></p>
<table class="table table-hover table-striped text-center" id="tableStudent" >
    <thead>
    <tr>
        <th style="width: 100px;">#</th>
        <th style="width: 200px;">EMPLOYEE</th>
        <th style="width: 200px;">CUSTOMER</th>
        <th style="width: 400px;">FACILITY</th>
        <th style="width: 200px;">DEPOSIT</th>
        <th style="width: 200px;">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract,loop:${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${contract.employee.name}"></td>
        <td th:text="${contract.customer.name}"></td>
        <td th:text="${contract.facility.name}"></td>
        <td th:text="${contract.deposit}"></td>
        <td>
            <a class="btn btn-outline-warning" th:attr="onclick=|getInfo('${contract.id}')|">DETAIL</a>
            <a th:href="@{/edit(id=${contract.id})}" class="btn btn-outline-success">EDIT</a>
            <a class="btn btn-outline-danger"
               th:attr="onclick=|delete('${contract.id}')|">DELETE</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center align-item-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/contract/list(page=0,valueSearch=${valueSearch})}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/contract/list(page=${currentPage - 1},valueSearch=${valueSearch})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, list.totalPages -1)}"
                th:classappend="${currentPage == i ? 'active' : ''}">
                <a class="page-link" th:href="@{/contract/list(page=${i},valueSearch=${valueSearch})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == list.totalPages - 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/contract/list(page=${currentPage + 1},valueSearch=${valueSearch})}">Next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == list.totalPages - 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/contract/list(page=${list.totalPages - 1},valueSearch=${valueSearch})}">Last</a>
            </li>
        </ul>
    </nav>
</div>
<script th:replace="layout/fragment::importScript"></script>
<script th:replace="layout/fragment::func"></script>
</body>
</html>